{% extends "padre.html" %}
{% load static %}




{% block contenido00 %}


<u><h2 class="mx-auto my-5 text-uppercase"> BUSQUEDA DE PRODUCTOS SOLICITADOS:</h2></u>
<h6 class="text-white-50 mx-auto mt-2 mb-5"> DESLIZA HACIA ABAJO PARA COMPLETAR EL CAMPO DE BUSQUEDA DE PRODUCTOS POR NOMBRE</h6>

<u><br> <h2 class="text-light mx-auto mt-6 mb-6"> Vuelve a alguna de nuestras secciones: </h2> </br></u>
{% endblock %}

{% block contenido %}
<em></em><h5 class="text-white-50 mx-auto mt-2 mb-5"> COMPLETE EL CAMPO PARA BUSCAR EL PRODUCTO SOLICITADO: </h5></em>

<form action= "{% url 'busqueda' %}" method="GET">
    <input type="text" name="nombreprod" id="nombreprod" placeholder="Nombre del producto:">
    <input type="submit" value="Buscar producto">

</form>



{% endblock %}
