{% extends "padre.html" %}
{% load static %}

{% block contenido00 %}

    

    <h1 class="mx-auto mt-5 text-uppercase">Frailoni design</h1>  

    <u><b> <h5> {{ mensaje }} </h5> </b></u>
        
    <em><h2 class="text-light mx-auto mt-4 mb-5"> El diseño no es solo lo que se ve y se siente, el diseño es como funciona.</h2></em>
    <u><br> <h2 class="text-light mx-auto mt-6 mb-6"> Visita nuestras siguientes secciones: </h2> </br></u>
    
{% endblock %}

{% block contenido0 %}
    <ul class="navbar-nav ms-auto">                      
        <li class="nav-item"><a class="nav-link" href="#projects">Acerca de nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#signup">Registro</a></li>
    </ul>
{% endblock %}

{% block contenido%}
<em><u><h5 class="text-light mb-4"> Responsabilidad con el medio ambiente: </h5></u></em>
    <p class="text-light mb-3">
        
    <em><h6> Utilizando una gama de maderas y chapas respetuosas con el medio ambiente, combinadas con herrajes y acabados de última generación. Federico trabaja en estrecha colaboración con sus clientes para crear muebles hechos a medida que sean tanto funcionales como estéticamente agradables... </h6> </em>
        
    </p>

  

{% endblock %}

{% block contenido2 %}
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src='{% static "assets/img/aaa.jpg" %}' alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="text-black-50">Frailoni Design</h4>
                    <em><p class="text-black-50 mb-0">Somos una empresa familiar, dedicada a la elaboración de productos confeccionado con todo tipo de madera. Nuestro grupo esta conformado por Federico y Macarena, su dedicación y amor por el medio ambiente, asegura cálidad e innovación en sus productos. </p></em>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src='{% static "assets/img/mader.jpg" %}' alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black-50">Calidad</h4>
                            <em><p class="mb-0 text-black-50">Elaboración de productos únicos, producidos con dedicación y esfuerzo. La marca se caracteriza por asegurar responsabilidad ambiental y duración de los productos con los cuidados recomendados de nuestro equipo.</p></em>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src='{% static "assets/img/maderr.jpg" %}' alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-light text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black-50">Innovación</h4>
                            <h6 class="mb-0 text-black-50">  </h6>                                
                            <em><p class="mb-0 text-black-50"> Diseño de productos, fabricados de manera artesanal. La forma de trabajar depende del producto solicitado por nuestro cliente. Se trabaja con todo tipo de madera rústica. </p></em>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h5 class="text-white mb-5"> ¡REGISTRATE EN NUESTRA PÁGINA!</h5>
                <A HREF= '{% url "registro" %}' > ¡Haz click para crear tu propio usuario!  </A>
                
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-light">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Ubicación</h4>
                        <hr class="my-4 mx-auto" />
                        <em><div class="small text-black-50">Tandil- Buenos Aires</div></em>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Correo</h4>
                        <hr class="my-4 mx-auto" />
                        <em><div class="small text-black-50"><a href="#!">Frailonidesign@gmail.com</a></div></em>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Teléfono</h4>
                        <hr class="my-4 mx-auto" />
                        <em><div class="small text-black-50">+94 (2920) 487-8832</div></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<em><footer class="footer bg-light small text-center text-black-50"><div class="container px-4 px-lg-5">FrailoniDesign &copy; Innovación since 1994</div></footer></em>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
{% endblock %}