<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
</head>
<body>

    <u><b> <h5> {{ mensaje }} </h5> </b></u>

    <em><h1 class="text-light mx-auto mt-4 mb-5"> Esta página está en reparación, pero ...</h1></em>
        
    <em><h1 class="text-light mx-auto mt-4 mb-5"> ¡Dejanos tu mensaje, nos importa tu opinión!</h1></em>
    <ul>
        <h2 class="text-white mb-4"> <form action="{% url 'chat' %}" method="POST"> {% csrf_token %}</h2>

                                        <p> Mensaje: <input type = "text" name="mensaje"> </p> 
                                        <input type="submit" value="Enviar mensaje"> </em>
                                        
                                     </form>
                                       
    </ul>


</body>
</html>